
[submodule "src/pigpio"]
	path = src/pigpio
	url = https://github.com/sneakers-the-rat/pigpio/
[submodule "src/mlx90640-library"]
	path = src/mlx90640-library
	url = https://github.com/sneakers-the-rat/mlx90640-library/
