# to be installed by apt b/c takes forever w pip on the pi
# python3-numpy
# python3-pandas
# python3-tables
pyzmq
npyscreen
tornado
inputs
requests
blosc
JACK-Client
scikit-video
tqdm
numpy>=1.16.5
pandas
tables
cffi
pigpio @ https://github.com/sneakers-the-rat/pigpio/tarball/master