# to be installed by apt b/c takes forever w pip on the pi
# python3-numpy
# python3-pandas
# python3-tables
pyzmq>=18.1.*
npyscreen
tornado>=5.0.*
inputs
requests
blosc
JACK-Client
scikit-video
tqdm
numpy>=1.16.5
pandas
tables
cffi
pigpio @ https://github.com/sneakers-the-rat/pigpio/tarball/master
scipy>=1.6.0
validators
importlib-metadata; python_version < '3.8'
packaging